body {
    background-color: #000;
    margin: 0;
    overflow-x: hidden;
}

header {
    margin-top: -7vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 10vh;
}

header>h1 {
    color: #fff;
}

footer {
    position: absolute;
    text-align: center;
    vertical-align: auto;
    height: 10vh;
    background-color: #fff;
    width: 100vw;
}

footer>p {
    color: #000;
    font-family: Roboto;
    font-size: 1.2em;
}

span {
    font-size: 1.3em;
    font-weight: 900;
}

.main-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5vw;
    padding: 5vh 2vw 5vh 3vw;
    margin-top: 7vh;
}

.container {
    margin-bottom: 20vh;
    background-color: #fff;
    height: 200px;
    width: 250px;
}

img {
    width: 250px;
    height: 200px;
}

p {
    color: #fff;
    font-size: 13px;
}

h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #fff;
}

@media screen and (max-width: 344px) {
    header>h1 {
        font-size: 1.5em;
    }

    footer>p {
        font-size: 1em;
    }

    span {
        font-size: 1.2em;
    }
}